body{
    text-align: center;
    background-color:palegreen;
}
div{
    margin-top: 20px;
}

.image{
    display: flex;
    justify-content: center;

}

.style{
    margin-right: 25px;
margin-right: 25px;
background-color: paleturquoise;
}

img{
height: 400px;
width: 600px;
}